---
import YukinaConfig from "../../yukina.config";
import BaseHead from "../components/BaseHead.astro";
---

<html lang={YukinaConfig.locale}>
  <BaseHead />
  <script defer src="https://umami.sohn.uk/script.js" data-website-id="8ef3db19-7aba-474e-8c36-02beca409291"></script>
  <body class="overflow-y-hidden">
    <slot />
  </body>
</html>

<style>
  body {
    @apply bg-[var(--background-color)];
  }
</style>
